body {
    background-image: url("tile.jpg"); 

}

header {
    
    text-align: center;
    margin-top: 50px;
}
form {
    width: 600px;
    height: 250px;
    border: rgb(4, 31, 58) dashed 0.5px;
    background-image: url('formbg.jpg');
    border-radius: 10px;
    color: rgba(4, 7, 151, 0.842);   
    text-align: center;
    position: relative;   
    margin: auto;  
    margin-top: 15px;
    font:  20px blue;
    font-family: sans-serif;
    font-style: oblique;  
    line-height: 1.6em;
    padding-top:2%;
    
}
/* p {
    margin: 30px 0;
} */

form:hover {
    border: rgb(4, 31, 58) solid 0.5px; 
}

#taskInput {
    width: 65%;
    background-color: transparent;
    border-radius: 10px;
    color: rgba(4, 7, 151, 0.842);
    text-align: center;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 23px;
    font: 20px blue;
    font-family: sans-serif;
    font-style: oblique;
    line-height: 1.6em;
    margin-bottom: -10px;
    box-sizing: border-box;
    /* border-left: none; */
    /* border-right: none; */
    /* border-bottom-color: transparent; */
    right: 2px;
    /* border: rgba(15, 77, 211, 0.842) 0.5px solid; */

}

#taskInput:hover {
    box-shadow: inset 1px 1px 2px 2px blue;   

}


#date {
       width: 50%;
    background-color: transparent;
    border-radius: 10px;
    color: rgba(4, 7, 151, 0.842);
    text-align: center;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 30px;
    font: 20px;
    font-family: sans-serif;
    font-style: oblique;
    line-height: 1.6em;
    padding-top: 2%;
    right: 2px;
    border: rgba(15, 77, 211, 0.842) 0.5px solid;
    transition-duration: 0.1s;
}

#date:hover {
    box-shadow: inset 1px 1px 2px 2px cornflowerblue;   
    
}

#date::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 20px;
    color: darkblue;
    opacity: 1;
    padding: 15px 50px;
    background-color: transparent;
}
 #date::-webkit-inner-spin-button {
    display: none;  
}

#date::-webkit-clear-button {
    position: absolute;
    /* top: 15px; */
    right: 50px;
    box-sizing: border-box;
    padding-bottom: 15px;
}


#image_container {
    position: relative;
    background-image: url('notebg.png');
   
}
#time {
    /* display: inline-block; */
    position: relative;
    /* left: 180px; */
    /* bottom: 35px; */
    border-radius: 25%;
    background-color: transparent;
    width: 80px;
    color: blue;
    font-family: sans-serif;
    font-style: oblique;
    text-align: left;
    padding: 3px 5px;
    margin: 10px;
    opacity: 0.8;
}

#time:hover {
    border: rgba(15, 77, 211, 0.842) 0.5px solid;
    padding-top: 3px; 
    
}
#time:focus{
    text-align: center;
}

#editNote{
    position: absolute;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    top: 30px;
    left: 3px;
    font-size: 15px;
    font-stretch: extra-expanded;
    /* border-right: none;
    border-bottom: 1px solid burlywood; */
    border: none;
    outline: none;
    /* border-radius: 4px; */
    background-color:transparent;  
    position: absolute;
    /* text-align: center; */
    columns: auto;
    
}
 
#btnCreateTask {
    border: none;
    background-color: rgba(4, 7, 151, 0.842);
    border-radius: 10%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px auto;
    color: #ccc;
    box-shadow: inset 3px 3px 5px 1px rgb(11, 167, 219);
}

#btnCreateTask:hover {
    color: cornsilk;
    border-radius: 25%;
    border: rgba(15, 77, 211, 0.842) 2.5px solid;
    background-color: darkblue;
    text-decoration: darkblue;
    transition-duration: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#divError {
    color: #ff0000;
    height: 50px;
    background-color: transparent;
    
}

li {
    background-image: url(notebg.png);
    display: inline-block;
    width: 201px;
    height: 250px;
    box-sizing: border-box;
    background-position: left;
    position: relative;
    /* visibility: hidden; */
    
}

#optionDate {
    position: absolute;
    display: inline;
    bottom: 50px;
    left: 25px;
    max-height: 20px;
    max-width: 90px;
    
}

#optionTime {
    position: relative;
    top: 205px;
    left: 10px;
    
}

::placeholder {
    color: rgba(0, 0, 255, 0.718);
    text-align: center;
    font: italic bold 20px/30px Georgia, serif;
}
/* span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  } */
  #xBtn {
    
    position: relative;
    top: 20px;
    left: 10px;
    /* display: none; */
    background-color: transparent;
    border: none;
    visibility: hidden;
  }
  #xBtn:hover {
    color: red;  
   visibility: visible;
   
  }
 
 

li:hover #xBtn {
    display: inline;
    z-index: 2;
    max-width: 200px;
    transform: scaleX(1.5);
    position: relative;
    overflow: auto;
    visibility: visible;
}


.yellowNoteContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    width: 800px;
    /* height: 1000px; */
    align-content: space-between;
}




.fadeout {
    opacity: 0.5;
    animation: fadeout 2s linear forwards;
}






.fade{ 
  opacity: 0.5; 
   /* animation: fadeout 4s linear forwards; */
     /* animation: fadeInOut 4s linear forwards; */
 }
 
.elementToFadeInAndOut {
    animation: fadeOut 2s linear forwards;
}

@keyframes fadeout {
 0% { opacity:0; }
 50% { opacity:0.5; } 
 100% { opacity:1; } 
} 

textarea {
    font-size: 13px;
    color: darkblue;
    font-weight: bold;
    border: burlywood 1px solid;
}
