body{
    margin: 0.05px 0.15px;
    padding:0 1px;
}
.menu{
    background-color: #222;
    border-color: #080808;
    margin-bottom: 10px;
    
}
a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-right: solid 0.1px darkslategray;
    text-decoration:  none;
}
img{
    width:115px;
    height:35px;
    position:relative;
    left: 5px;
    top:7px;
    border-radius: 5px;
}
.form-control {
    display: inline-block;
    margin: 10px auto;
    width: 30%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.hivuigood{
    color:#fff;
    animation-name:pulse;
    opacity:1;
    animation-duration:1.5s;
    animation-iteration-count: 2;
    padding: 0 10px 0 10px;
    margin-top:0;
    background-color: green;
    border-radius:30px;
}
.hivuibad{
    color:red;
}
.center{
    text-align:center;
    /* margin:auto; */
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 23px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    margin-top:20px;
   position:relative;
   left:12%;

}
.btn-default:hover{
      
    background-color: #e6e6e6;
    border-color: #adadad;
       
}
.loginErr{
   
    color: #ff0011;
    position: relative;
    bottom: 3em;
    left: 35%;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.1em;
    animation-name: err;
    animation-duration:5s;
    /* animation-delay: 3s; */
    opacity: 0;

}
@keyframes err {
    0% {opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100% {opacity: 0;}
}
@keyframes pulse {
    0% {opacity: 1;}
    25%{opacity: 0.8;}
    50%{opacity: 0.2;}
    75%{opacity: 0.8;}
    100% {opacity: 1;}
}


    </style>